*{
    padding: 0;
    margin: 0;

}

body{
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: #766ecc;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;    
}
a{
    text-decoration: none;
    color: #fff;
}

li{
    /* background-color: yellow; */
    margin-top: 10px;
    display: inline-block;
    font-weight: 600;
    padding: 15px;
    margin: 15px;
    margin-right: 20px;
}