@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: #766ecc;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;    
}
a{
    text-decoration: none;
    color: #fff;
}

li{
    /* background-color: rgb(0, 60, 255); */
    margin-top: 10px;
    display: inline-block;
    font-weight: 600;
    padding: 10px;
    margin: 15px;
    margin-right: 20px;
}

form{
    width: 450px;
    height: 400px;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
    margin-top: 5%;
    text-align: center;
    box-shadow: 5px 5px 10px grey;
    border-radius: 10px;
}

input{
    width: 75%;
    margin: 5px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin: 5px;
}

form button{
    background-color: green;
    padding: 15px 30px;
    border: none;
    margin-top: 5px;
    color: #fff;
    font-size: 15px;
    
}

.form-div{
    position: relative;
    top: 20%;
}

input:focus{
    outline: none;
    font-size: 17px;
}

footer{
    padding: 20px;
    text-align: center;
    background-color: #eee;
}